body {
    font-family: Garamond;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

a { 
    color: blue;
}

a:hover { 
    background-color: yellow;
    cursor: pointer;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#buttons {
    text-align: center;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*width: 40%;*/
    /*margin-top: 60px;*/
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: monospace;
    font-size: 19px;
}

.item {
  font: bold 17px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.item:hover { 
    background-color: yellow;
    cursor: pointer;
}

.botBtn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 19px;
  float: right;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.botBtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.userText {
    color: black;
    font-family: monospace;
    font-size: 19px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #90ee90;
    padding: 10px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
}

.botText {
    color: black;
    font-family: monospace;
    font-size: 19px;
    text-align: left;
    line-height: 30px;
}

.botText span {
    background-color: #d3d3d3;
    display: block;
    padding: 10px;
    -moz-border-radius: 30px; /* or 50% */
    border-radius: 30px; /* or 50% */
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}