<!DOCTYPE html>
<html>
  <head>
    <title>Open Data Chatbot</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Open Data Chatbot</h1>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! Welcome to the Austrian Open Data portal!</span></p>
      </div>
      <div id="userInput">
        <div id="buttons">
        </div>
        <input id="textInput" type="text" name="msg" placeholder="Type and press Enter to search..." autofocus>
      </div>
        <script>
            function getBotResponse() {
              var rawText = $("#textInput").val();
              if (rawText) {
                var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
                $("#textInput").val("");
                $("#chatbox").append(userHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
              $.get("/search", { msg: rawText }).done(function(data) {
                var botHtml = '<p class="botText"><span>' + data + '</span></p>';
                $("#chatbox").append(botHtml);
                document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
              });
              }
            }
            $("#textInput").keypress(function(e) {
                if(e.which == 13) {
                    getBotResponse();
                }
            });
      </script>
    </div>
  </body>
</html>